{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <h1 class="text-center py-4 display-3">Editar Perfil</h1>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_username">Nombre de usuario:</label>
                    {{ form.username }}
                </div>
                <div class="form-group">
                    <label for="id_email">Correo electrónico:</label>
                    {{ form.email }}
                </div>
                <div class="form-group">
                    <label for="id_first_name">Nombre:</label>
                    {{ form.first_name }}
                </div>
                <div class="form-group">
                    <label for="id_last_name">Apellido:</label>
                    {{ form.last_name }}
                </div>
                <div class="form-group">
                    <label for="id_new_password1">Nueva contraseña:</label>
                    {{ form.new_password1 }}
                </div>
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}