{% extends 'main.html' %}
{% load static %}
{% block content %}

    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4"></div> <!-- Columna vacía para dividir en 3 -->
            <div class="col-lg-4"> <!-- Columna del formulario -->
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="exampleInputName" class="form-label">Usuario</label>
                        <input type="text" class="form-control" name="username" id="exampleInputName">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword" class="form-label">Contraseña</label>
                        <input type="password" name="password1" class="form-control" id="exampleInputPassword">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPasswordConfirm" class="form-label">Confirmar contraseña</label>
                        <input type="password" name="password2" class="form-control" id="exampleInputPasswordConfirm">
                    </div>
                    <button type="submit" class="btn btn-secondary btn-block">Registrarse</button>
                    <button type="reset" class="btn btn-secondary btn-block">Resetear</button>
                    <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Iniciar sesión</a>
                    {% if mensaje %}
                        <h3>{{mensaje}}</h3>
                    {% endif %}
                </form>
            </div>
            <div class="col-lg-4"></div> <!-- Columna vacía para dividir en 3 -->
        </div>
    </div>


{% endblock %}